body{
	background-color: #363636;
}

/* Formatação do header */
header{
	background-color: white;
	padding: 15px;
}

header nav ul{
	position: relative;
	list-style: none;
	text-transform: uppercase;
	background-color: white;
	width: 400px;
}

header nav ul li{
	display: inline-block;
	padding: 10px;
	background-color: red;
	color: white;
}

header nav ul li a{
	color: white;
	text-decoration: none;
}

h1#titulo{
	font-family: 'Ranchers', cursive;
}




div{
	background-color: white;
}

.menu{
	font-family: verdana, sans-serif;
	text-decoration: none;
	background-color: #B22222;
	color: white;
}

.corpo{
	font-family: 'Ranchers', cursive;
	font-size: 36px;
	text-align: center;
}

p{
	font-family: arial;
	font-size: 20px;
}

.animesParagrafos{
	font-family: sans-serif;
	font-size: 18px;
}

.tituloAnimes{
	text-align: center;
	font-family: 'Ranchers', cursive;
	font-size: 25px;
	background-color: #A52A2A;
}

p a{
	text-decoration: none;
}