body{
	background-color: #363636;
}

div{
	background-color: white;
}

h1#titulo{
	font-family: 'Ranchers', cursive;
	font-size: 80px;
	color: black;
}

.menu{
	font-family: verdana, sans-serif;
	text-decoration: none;
	background-color: #B22222;
	color: white;
}

.corpo{
	font-family: 'Ranchers', cursive;
	font-size: 36px;
	text-align: center;
}

p{
	font-family: arial;
	font-size: 20px;
}

.animesParagrafos{
	font-family: sans-serif;
	font-size: 18px;
}

.tituloAnimes{
	text-align: center;
	font-family: 'Ranchers', cursive;
	font-size: 25px;
	background-color: #A52A2A;
}

p a{
	text-decoration: none;
}