body{
	background-color: #363636;
}

div#caixaLogin{
	text-align: center;
}

h1{
	font-family: 'Fredoka One', cursive;
	color: white;
	font-size: 70px;
}

input#submit{
	background-color: #B22222;
	font-family: verdana;
	color: white;
	font-size: 15px;
}

a{
	text-align: left;
	color: white;
	text-decoration: none;
}